{% extends 'base.html.twig' %}

{% block title %}Tratamiento{% endblock %}

{% block body %}
    <h1>Tratamiento</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Mascota</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tratamiento in tratamientos %}
            <tr>
                <td>{{ tratamiento.id }}</td>
                <td>{{ tratamiento.nombre }}</td>
                <td>{{ tratamiento.mascota.nombre }}</td>
                <td>
                    <a href="{{ path('app_tratamiento_show', {'id': tratamiento.id}) }}">Ver</a>
                    <a href="{{ path('app_tratamiento_edit', {'id': tratamiento.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay registros guardados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tratamiento_new') }}">Crear nuevo</a>

    <h2>Mascotas castradas</h2>
    <ul>
       {% for tratamiento in tratamiento2 %}
        <li>{{ tratamiento.mascota.nombre }}</li>
        {% endfor %}
    </ul>
{% endblock %}
