{% extends 'base.html.twig' %}

{% block title %}Tratamiento{% endblock %}

{% block body %}
    <h1>Tratamiento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tratamiento.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tratamiento.nombre }}</td>
            </tr>
            <tr>
                <th>Mascota</th>
                <td>{{ tratamiento.mascota.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tratamiento_index') }}">Volver al inicio</a>

    <a href="{{ path('app_tratamiento_edit', {'id': tratamiento.id}) }}">Editar</a>

    {{ include('tratamiento/_delete_form.html.twig') }}
{% endblock %}
